*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
}



/*START OF NAV STYLE*/

span.navbar-toggler-icon{
	background: url(../images/burger2.png) no-repeat center center;
	background-size: cover;
}

.navbar{
	background: #251d03;
}

a.navbar-brand{
	color: #f7b900;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Cinzel','Quicksand', serif, sans-serif ;
    font-weight: 800;
}

.logo{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 20px;
	margin-bottom: 0;
}

.navbar-toggler{
	background: #2b2626;
	border: 1px solid orange;
}


.nav-link{
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;

}

.active{
	color: #000;
	background: orange;
	border-radius: 10px;
	font-weight: 800;
}

.nav-link a{
	padding-right: 2rem;
	padding-left: 2rem;
	font-family: 'Quicksand', sans-serif;	
}

.nav-link:hover{
	color: #000;
	background: orange;
	border-radius: 10px;
	font-weight: 800;
}

.fab{
	margin-right: 10px;
}
/*END OF NAV STYLE*/



/*START OF INDEX STYLE*/


.index-bg{
	height: 100vh;
	width: 100%;
	background: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}


.box{
	color: #fff;
	text-align: center;
	width: 80%; /*40% of main*/
	padding: 40px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box h1{
		font: 500 40px 'Cinzel','Quicksand', serif, sans-serif ;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9)
		margin-bottom: 20px;
}

.box a{
	text-decoration: none;
	color: #fff;
}

.bts{
	background: linear-gradient(135deg, rgba(239,131,77,1) 0%, rgba(239,131,77,0.98) 5%, rgba(240,163,9,0.83) 53%, rgba(240,86,15,0.78) 69%, rgba(189,80,7,0.68) 100%);
	border-radius: 4px;
	padding: 10px 20px;
	font: 20px 'Cinzel','Quicksand', serif, sans-serif ;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}


.bts:hover{
	box-shadow: 0px 4px 4px rgba(46, 245, 44, 1);
}
/*END OF INDEX STYLE*/



/*START OF HOME STYLE*/

.bg-home{
	background: url(../images/bg.jpg);
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	padding-top: 24px;
	margin-top: 65.5px;
	/*font-weight: bolder;*/
}

.box h1{
	font-weight: bolder;
}



.about{
	height: 25vh;
	width: 100%;
	background: #797878;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about h1{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
	font-weight: bolder;
	/*font-family: 'Kaushan Script', cursive;*/
}

.improving{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #e6e6e6;	
}


.content{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}


.cwrapper{
	height: 50vh;
	width: 100%;
	background: green;
}

.pic-courses li{
	list-style: none;
}

.pic-courses{
	height: 100%;
	width: 100%
}


.course-1{
	height: 50vh;
	width: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	list-style: none;
	display: inline-block;	
}

.course-2, .course-3, .course-4, .course-5{
	height: 25vh;
	width: 25%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	list-style: none;	
}

.comment-section{
	height: 10vh;
	width: 100%;
	background: #797878;
	color: #1b1919;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.comment-section h1{
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #FFF;
	color: #ffffff;
	font-weight: bolder;
	/*font-family: 'Kaushan Script', cursive;*/
}

.container-comment{
	background: #797878;
}
/*END OF HOME STYLE*/



/* START ABOUT STYLE*/

.jumbo-container{	
	height: 90vh;
	width: 100%;
	background: url(../images/team2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;	
	vertical-align: middle;
}

	/*MEET THE TEAM STYLE*/
.jumbotron{
	background: transparent;
}


#landing-about{
	font-family: 'Kaushan Script', cursive;	
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	color: #fff;
}
	/*END OF MEET THE TEAM*/

.fadeIn{
	animation-duration: 6s;
}

.about-entre{
	height: 40vh;
	width: 100%;
	background: url(../images/star.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.about-content{
	width: 90%;
	margin: 0 auto;
	text-align: center;

}


.about-entre h3{
	border-bottom: 1px solid #fff;
	color: #fff;
}


.about-entre p{
	color: #fff;
}



.mission{
	height: 40vh;
	width: 100%;
	background: url(../images/5.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mission h3{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.mission p{
	color: #fff;
}



.vission{
	height: 40vh;
	width: 100%;
	background: #fbfbfb;
	background: url(../images/star.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.vission h3{
	border-bottom: 1px solid #fff;
	color: #fff;
}

.vission p{
	color: #fff;
}


.one{
	height: 40vh;
	width: 100%;
	margin-top: : 10px;
}

.container-one img{
	height: 40vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


.try{
	padding: 0;
}




.two{
	height: 40vh;
	width: 100%;
	margin-bottom: 10px;
}


.two .col{
	padding: 0;
}

.why{
	padding: 0;
}
.container-two img{
	height: 40vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
/*END OF ABOUT STYLE*/




/*START OF CATEGORIES STYLE*/
.container-bg{
	background: #545454;
}


.categories-intro{
	height: 10vh;
	width: 100%;
}

.carousel{
	height: 50%;
	width: 95%;
	margin: 0 auto;
}


.categories{
	height: 10vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.categories h3{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-weight: bolder;
}

.card{
	width: 13rem;
	margin: 7px;
}

.card-title{
	text-align: center;
	font-weight: bolder;	
}

.card-text{
	font-size: small;
}

/*END OF CATEGORIES STYLE*/


/*START OF CONTACT US STYLE*/
.bg-categories{
	height: 70vh;
	width: 100%;
	background: url(../images/map.jpg) no-repeat center center; 
	background-size: cover;
}

.bg-container{
	height: 80vh;
	width: 100%;
	padding: 10px;
	background: green;
}

.map{
	padding-top: 70px;
}

.row{
	margin-left: 0;
	margin-right: 0;
}




iframe{
	height: 50%;
	width: 100%;
	margin-top: 10px;
}

.map p{
	color: #fff;
}

/*END OF CONTACT US STYLE*/








/* SART OF SOCIAL MEDIA ICON*/
.social-media{
	height: 10vh;
	width: 100%;
	background: #000;
}

.sm-icon{
	height: 100%;
	width: 80%;
	background: #000;
	border-bottom: 1px solid grey;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

.icons{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px solid #fff;
	padding: 2px;
	margin-right: 20px;
}
/*END OF SOCIAL MEDIA ICON*/


/*FOOTER STYLE*/
#footer{
	height: 20vh;
	width: 100%;
	background: #000;
	color: #fff;
	text-align: center;
	vertical-align: center;
	font-weight: 300px;
	/*font-family: 'Cinzel','Quicksand', serif, sans-serif;*/
	padding-top: 5px;
}

#footer span{
	color: #f7b900;
}

.btn-primary {
	color: #fff;
    background-color: #1d2022;
    border-color: #fff;
    background: url(../images/disclaimer2.png) no-repeat center center;
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.modal-body {
	color: #000;
}

.modal-title{
	color: #000;
}
.modal-body {
	font-family: 'Didact Gothic', sans-serif;
}



.carousel-image{
	height: 33%;
	width: 100%;
}
/*END OF FOOTER STYLE*/




























/*desktop style*/
@media only screen and (min-width: 961px){




}


/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
	.about-entrepreneur{
		height: 50vh;
		width: 100%;

	}


	
	.comment-section h3{
		font-size: 20px;
		width: 50%;
	}


	.box h1{
		font-size: 28px;
	}


	.cwrapper{
		height: 80vh;
		width: 100%;
	}


	.course-1{
		width: 100%;
		height: 35vh;
	}

	.course-2{
		height: 25vh;
		width: 50%;
	}

	.course-3{
		height: 25vh;
		width: 50%;
	}

	.course-4{
		height: 25vh;
		width: 50%;
	}

	.course-5{
		height: 25vh;
		width: 50%;
	}


	#about{
		height: 20vh;
	}

	.comment-section h3{
		margin-top: 20px;
	}


	.card{
		width: 90%
	}


}









/*mobile style*/

@media only screen and (max-width: 400px){

	.about-entrepreneur{
		height: 50%;
		width: 100%;

	}

	.try{
		height: 40%;
		width: 100%;

	}

	.box{
		padding: 0;
	}


	.comment-section h3{
		font-size: 20px;
		width: 50%;
	}


	.message{
		height: 50%;
		width: 100%;
	}


	iframe{
		margin-top: 10px;
		width: 100%;
		height: 100%;
	}

	legend{
		width: 50%;
		padding-top: 10px;
	}

	.map{
		padding: 0;
		width: 100%;
		height: 45%;
	}
	.map p{
		margin: 0;
	}

	element.style {
		margin: 0;
	}

	.bg-container{
		height: 100vh;
		width: 100%;
	}



	.box h1{
		font-size: 22px;
	}


	#about h1{
		font-size: 22px;
	}

	.content p{
		font-size: 15px;
	}

	.cwrapper{
		height: 80vh;
		width: 100%;
	}


	.course-1{
		width: 100%;
		height: 30vh;
	}

	.course-2{
		height: 25vh;
		width: 50%;
	}

	.course-3{
		height: 25vh;
		width: 50%;
	}

	.course-4{
		height: 25vh;
		width: 50%;
	}

	.course-5{
		height: 25vh;
		width: 50%;
	}



	.about-entrepreneur h3{
		width: 40%;
	}


	.small, small{
		font-size: 60%;
	}











}




















