*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Didact Gothic', sans-serif;
	font-weight: 500;
	font-size: 1.2rem;
}



/*START OF NAV STYLE*/

.navbar{
	background: #251d03;
}

a.navbar-brand{
	color: #f7b900;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Cinzel','Quicksand', serif, sans-serif ;
    font-weight: 800;
}

.logo{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-left: 20px;
	margin-bottom: 0;
}

.navbar-toggler{
	background: #2b2626;
	border: 1px solid orange;
}

.nav-link{
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;

}

.active{
	color: #000;
	background: orange;
	border-radius: 10px;
	font-weight: 800;
}

.nav-link a{
	padding-right: 2rem;
	padding-left: 2rem;
	font-family: 'Quicksand', sans-serif;	
}

.nav-link:hover{
	color: #000;
	background: orange;
	border-radius: 10px;
	font-weight: 800;
}

.fab{
	margin-right: 10px;
}
/*END OF NAV STYLE*/



/*START OF INDEX STYLE*/


.index-bg{
	height: 100vh;
	width: 100%;
	background: url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}


.box{
	color: #fff;
	text-align: center;
	width: 80%; /*40% of main*/
	padding: 40px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.box h1{
		font: 500 40px 'Cinzel','Quicksand', serif, sans-serif ;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9)
		margin-bottom: 20px;
}

.box a{
	text-decoration: none;
	color: #fff;
}

.bts{
	background: linear-gradient(135deg, rgba(239,131,77,1) 0%, rgba(239,131,77,0.98) 5%, rgba(240,163,9,0.83) 53%, rgba(240,86,15,0.78) 69%, rgba(189,80,7,0.68) 100%);
	border-radius: 4px;
	padding: 10px 20px;
	font: 20px 'Cinzel','Quicksand', serif, sans-serif ;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}


.bts:hover{
	box-shadow: 0px 4px 4px rgba(46, 245, 44, 1);
}
/*END OF INDEX STYLE*/



/*START OF HOME STYLE*/

.bg-home{
	background: url(../images/bg.jpg);
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
/*	background-attachment: fixed;*/
	padding-top: 24px;
	margin-top: 65.5px;
}



.tagline{
	width: 70%;
	margin: 0 auto;
	display: flex;
	position: center
}

/*.boxs{
	color: #fff;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	width: 70%;
	padding: 40px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
*/
.boxs h1{
	font-size: 50px;
	text-shadow: 

}

#about{
	height: 45vh;
	background: #f5fdf54a;
	padding: 30px 0 30px 0;
	width: 100%;
	margin-top: 10%;
}

#about h1{
	text-align: center;
	font-family: 'Kaushan Script', cursive;
}
.content{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}


.cwrapper{
	height: 50vh;
	width: 100%;
	background: green;
}

.pic-courses li{
	list-style: none;
}

.pic-courses{
	height: 100%;
	width: 100%
}


.course-1{
	height: 50vh;
	width: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	list-style: none;
	display: inline-block;	
}

.course-2, .course-3, .course-4, .course-5{
	height: 25vh;
	width: 25%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	list-style: none;	
}

.comment-section{
	height: 10vh;
	width: 100%;
	background: #434343;
}

.comment-section h3{
	width: 20%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	text-align: center;
	padding: 10px;
}

.container-comment{
	background: #434343;
}
/*END OF HOME STYLE*/



/* START ABOUT STYLE*/

.jumbo-container{	
	height: 90vh;
	width: 100%;
	background: url(../images/team2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;	
	vertical-align: middle;
}

	/*MEET THE TEAM STYLE*/
.jumbotron{
	background: transparent;
}


#landing-about{
	font-family: 'Kaushan Script', cursive;	
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;
	color: #fff;
}
	/*END OF MEET THE TEAM*/

.fadeIn{
	animation-duration: 6s;
}

.about-entrepreneur{
	padding-top: 20px;
	height: 30vh;
	width: 100%;
	background: #fbfbfb;
}

.about-entrepreneur h3{
	width: 20%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	text-align: center;
}

.about-entrepreneur p{
	text-align: center;
	width: 70%;
	margin: 0 auto;
}



.mission{
	padding-top: 20px;
	height: 30vh;
	width: 100%;
	background: #f1f1f3;

}

.mission h3{
	width: 20%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	text-align: center;
}

.mission p{
	text-align: center;
}



.vission{
	padding-top: 20px;
	height: 30vh;
	width: 100%;
	background: #fbfbfb;
	margin-bottom: 10px;
	background: #fbfbfb;

}

.vission h3{
	width: 20%;
	margin: 0 auto;
	border-bottom: 1px solid #000;
	text-align: center;
}

.vission p{
	text-align: center;
}


.one{
	height: 40vh;
	width: 100%;
	margin-top: : 10px;
}

.container-one img{
	height: 40vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


.try{
	padding: 0;
}




.two{
	height: 40vh;
	width: 100%;
	margin-bottom: 10px;
}


.two .col{
	padding: 0;
}

.why{
	padding: 0;
}
.container-two img{
	height: 40vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
/*END OF ABOUT STYLE*/




/*START OF CATEGORIES STYLE*/
.container-bg{
	background: #545454;
}


.categories-intro{
	height: 10vh;
	width: 100%;
}




.carousel{
	height: 50%;
	width: 70%;
	margin: 0 auto;
}

.categories{
	height: 10vh;
	width: 100%;
}

.categories h3{
	width: 20%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 2px solid #000;
	font-family: 'Kaushan Script', cursive;
}


.card{
	width: 13rem;
	margin: 7px;
}

.card-title{
	text-align: center;
	font-weight: bolder;	
}

.card-text{
	font-size: small;
}

/*END OF CATEGORIES STYLE*/


/*START OF CONTACT US STYLE*/


.bg-categories{
	height: 100vh;
	width: 100%;
	background: url(../images/bg.jpg) no-repeat center center; 
	background-size: cover;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.mapa{
	/*padding-top: 8%;*/
	margin-top: 11%;
}

.message{
	height: 70%;
	width: 50%;
	padding: 20px;
	background: green;
	margin-top: 11%;
}

legend{
	color: #f1f0f5;
	text-align: center;	
	font-family: 'Kaushan Script', cursive;
	width: 30%;
	margin: 0 auto;
	border-bottom: 2px solid #fff;
}

.form-control{
	border: 2px solid #000;
}


#submit{
	color: #fff;
	background: transparent;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
 	font-size: 15px;
 	border: 2px solid #000;
}

#submit:hover{
	background: orange;
	color: #000;
	font-weight: 400;
}

iframe{
	margin-top: 10%;
}

.map{
	margin-top: 7%;
}
/*END OF CONTACT US STYLE*/








/* SART OF SOCIAL MEDIA ICON*/
.social-media{
	height: 10vh;
	width: 100%;
	background: #000;
}

.sm-icon{
	height: 100%;
	width: 80%;
	background: #000;
	border-bottom: 1px solid grey;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
}

.icons{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	border: 2px solid #fff;
	padding: 2px;
	margin-right: 20px;
}
/*END OF SOCIAL MEDIA ICON*/


/*FOOTER STYLE*/
#footer{
	height: 10vh;
	width: 100%;
	background: #000;
	color: #fff;
	text-align: center;
	vertical-align: center;
	font-weight: 300px;
	font-family: 'Cinzel','Quicksand', serif, sans-serif ;
	padding-top: 5px;
}

#footer span{
	color: #f7b900;
}
/*END OF FOOTER STYLE*/

.carousel-image{
	height: 33%;
	width: 100%;
}



/*desktop style*/
@media only screen and (min-width: 961px){




}


/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
	.about-entrepreneur{
		height: 50%;
		width: 100%;

	}

}


/*mobile style*/

@media only screen and (max-width: 400px){

	.about-entrepreneur{
		height: 50%;
		width: 100%;

	}

	.try{
		height: 40%;
		width: 100%;

	}

	.box{
		padding: 0;
	}


	.comment-section h3{
		font-size: 19px;
	}


	.message{
		height: 50%;
		width: 100%;
	}


	iframe{
		margin-top: 10px;
		width: 100%;
		height: 100%;
	}

	legend{
		width: 50%;
		padding-top: 10px;
	}
}




















